<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/Styles.css">
    <title>Examen Taller</title>
</head>
<body>
    <header>
		<div class="logo">
            <img src="../static/img/header.jpeg" alt="logo">
            <h2 class="nombre-empresa"> UNIVERSIDAD AUTONOMA DE CHIAPAS</h2>

        </div>
	</header>

    <div class="container">
        <form class="formulario">
    
            <h1>Registrate</h1>
             <div class="contenedor">
             
             <div class="input-contenedor">
                 <i class="fas fa-user icon"></i>
                 <input type="text" placeholder="Nombre Completo">
                 
                 </div>
                 
                 <div class="input-contenedor">
                 <i class="fas fa-envelope icon"></i>
                 <input type="text" placeholder="Correo Electronico">
                 
                 </div>
                 
                 <div class="input-contenedor">
                <i class="fas fa-key icon"></i>
                 <input type="password" placeholder="Contraseña">
                 
                 </div>
                 <input type="submit" value="Registrate" class="button">
             </div>
            </form>
    </div>

    <div>
        <img src="../static/img/fondo.png" alt="">
    </div>

    
</body>
</html>