<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/Styles.css">
    <title>Examen Taller</title>
</head>
<body>
    <header>
		<div class="logo">
            <img src="../static/img/header.jpeg" alt="logo">
            <h2 class="nombre-empresa"> UNIVERSIDAD AUTONOMA DE CHIAPAS</h2>

        </div>
	</header>
<p></p>
    <div id="container">
            
            <div>
                <img src="../static/img/ladoiz.jpeg" alt="">
            </div>
            <div>
                <div class="box">
                    <div class="contenedor">
                        <div class="top-header">
                            <H3>ACCESO</H3>

                        </div>
                        <div class="input-field">
                            <a > Correo UNACH</a> <p></p>
                            <input type="text" class="input" placeholder="Usuario" required>
                            <p></p>
                        </div>
                        <div class="input-field">
                            <a >Contraseña</a><p></p>
                            <input type="password" class="input" placeholder="Contraseña" required>
                        </div>
                        <p></p>
                        <div class="input-field">
                            <input type="submit" class="submit" value="Ingresar">
                        </div>
                    </div>

                </div>
            </div>
    </div>

   
    <!-- FOOTER -->
		<footer class="container">
			<p class="float-end"><a href="#">Regresar</a></p>
			<p>&copy; Derechos reservados. &middot; </p>
			<p>&copy; Enero-Mayo</p>
		</footer>

    

    
</body>
</html>