body{
    margin: 0;
}
header{
    display:flex;
    justify-content: center;
    background-color: blue;
}

.logo{
    display: flex;
}

div.img{
    width: 15%;
    height: 30%;
}

.logo img{
    height: 50px;
}

#container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container > div{
    width: 50%;
}
form{
    background-color: #FFFFFF;
}

.box{
    display: flex;
    justify-content: center;
    min-height: 90vh;
}

.contenedor{
    width: 350px;
    display: flex;
    flex-direction: column;
    padding: 0 15px 0 15px;
}
 
img{
    width: 100%;
    height: auto;
    display: flex;
    padding: 0 15% 0 15px;
}

h2{
    color: white;
    flex:row;
}
h3{
    align-items: center;
    padding: 0 15% 0 15%;
}
.input{
    height: 45px;
    border: blue;
    background-color: #f9e79f;
    width: 87%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #000;;
    padding: 0 0 0 45px;
}

a{
    font-size: Open Sans, sans-serif;
    content:#000 ;
}
.submit{
    color: #FFFFFF;
    background-color:  #f1c40f ;
    width: 100%;
    height: 150%;
    border-radius: 5px;
}